{% extends "base.html" %}
{% block body %}
    {% for organization in organizations -%}
    <div id="{{organization.name}}" class="organization">
      <h2>{{organization.name}}</h2>
      {% for repo in organization.repos -%}
      {% if repo.pull_request_count > 0 %}
      <div id={{repo.name}}" class="panel panel-default repo">
        <div class="panel-heading"><h4 style="margin-top: 0px; margin-bottom: 1px;">{{repo.name}} <small>{{repo.description}}</small></h4></div>
        <ul class="list-group">
        {% for pull in repo.pull_requests -%}
          <li class="list-group-item" style="padding: 4px;">
            <img src="{{- pull.avatar_url -}}" title="{{- pull.user -}}" height=32 width=32 class="img-rounded">
            <p style="display:inline-block; margin-bottom: 0;"><a href="{{- pull.html_url -}}" title="{{- pull.description -}}">{{pull.name}}</a></p>
            <p style="display:inline-block; margin-bottom: 0;"> last updated <abbr class="date">{{- pull.updated_at -}}</abbr>.</p>
            <p style="display:inline-block; margin-bottom: 0;" class="text-right"><a href="{{pull.html_url}}"><span class="badge" title="last comment by {{ pull.last_user }}">{{pull.comment_count}} comment{% if pull.comment_count != 1 %}s{% endif %}</span></a></p>
          </li>
        {% endfor -%}
        </ul>
      </div>
      {% endif %}
      {% endfor -%}
    </div>
    {% endfor %}
{% endblock %}
